body {
  background-color: #b6cc71;
}
/* the main heading */
h1 {
  color: #7a91d9;
  font-size: 2rem;
  padding: 15px;
}

/* the questions */
h2 {
  color: #000000;
  font-size: 1.2rem;
  padding: 5px;
}

/* the answers */
p {
  color: #323232;
}
