body {
  background-color: #f0edee;
}
h1 {
  color: #07393c;
  font-size: 2rem;
  padding: 15px;
}

h2 {
  color: #07393c;
  font-size: 1.2rem;
  padding: 5px;
}

p {
  color: #07393c;
}
/* #F0EDEE */
