body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #f5f5dc; /* Soft beige background */
  color: #333;
}

.page-title {
  font-family: "Georgia", serif; /* Elegant font style for the heading */
  font-size: 48px; /* Larger heading */
  color: #7d8f73; /* Sage green color for the heading */
  margin-bottom: 40px; /* Spacing below the heading */
}

.upload-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #e4dccf; /* Light beige */
  border-radius: 12px;
  border: 1px solid #c1b5a7;
}

#userImage {
  width: 300px;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #b5c4a3;
}

.wardrobe-container {
  display: flex;
  justify-content: center; /* Centered the clothing options and canvas */
  margin-top: 30px;
}

.clothes-options {
  width: 240px;
  text-align: left;
  padding: 15px;
  background-color: #f5ede0;
  border-radius: 12px;
  border: 2px solid #b5c4a3;
  margin-right: 40px; /* Space between the clothing options and canvas */
}

.clothing-item {
  margin-bottom: 180px;
}

.clothes-options img {
  width: 120px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #b5c4a3;
}

.canvas {
  width: 600px;
  height: 900px;
  border: 2px solid #b5c4a3;
  border-radius: 12px;
  background-color: #e6eae4; /* Sage tone background */
  position: relative;
  padding-top: 20px;
}

.mannequin-area {
  width: 100%;
  height: 100%;
  position: relative;
}

.mannequin {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.hidden {
  display: none;
}

.draggable {
  cursor: move;
  /* Adjust positioning to allow easier dragging */
  width: 120px;
  position: relative;
}
